langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.16
langchain-google-genai==1.0.7
langchain-text-splitters==0.2.2
langchainhub==0.1.20
faiss-cpu
pdfplumber
streamlit
python-dotenv
google-ai-generativelanguage==0.6.6
